/* body{
    font-family:Inter;
} */
.hi{
    font-size: 20px;
    font-weight: 400;
}
.title{
    font-weight: 700;
    color: #4CB877;
}
.description{
    font-size: 17px;
    font-weight: 400;
}
.inf{
    font-size: 17px;
    font-weight: 400;
}
.reg{
    background-color: #4CB877;
    border: none;
    color: #fff;
    height: 40px !important;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
}
.a_log{
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none !important;
}